extends ../layout

block content
  .container
    h1= post.title
    h3 by #{post.email}
    .well= post.content
  
    hr
    h3 question (#{post.numQuestion})
    table.table
      tr
        th 질문번호
        th 질문
        th 답변
        th 작성자
        th time
      each question in questions
        tr
          td= question.number
          td= question.question
          td= question.response
          td= question.taker
          td= moment(question.createdAt).format('YYYY/MM/DD')
    
    form.form-inline(action='/posts/' + post._id + '/questions', method='POST')
      .form-group
        label.sr-only(for='question') question
        input.form-control(name='question', size=50, placeholder='question')
      .form-group
        label.sr-only(for='response') response
        input.form-control(name='response', size=30, placeholder='response')
      .form-group
        select#option
          option(value="multiple")객관식
          option(value="short")단일입력
          option(value="essay")의견
      button.btn.btn-info 설문저장
      
    hr
    a.btn.btn-default(href='/posts') 목록 
  
